* {
    box-sizing: border-box;
}

:root {
    --red: red;
    --black: black;
    --white: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--black);
    color: var(--red);
}

h1 {
    font-size: 250%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 200px;
}

nav ul a {
    color: var(--red);
    text-decoration: none;
}

.banner {
    text-align: right;
    color: var(--white);
    background-image: url(./images/spacer-background.jpg);
    background-size: cover;
    height: 150px;
}

.banner span {
    position: relative;
    font-size: 150%;
    right: 20px;
    top: 90px;
    background-color: var(--red);
    color: var(--black);
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px;
}

.about-img {
    /* float doesn't work with flex? */
    float: left;
    height: 150px;
    width: 150px;
}

main section {
    display: flex;
}

.project {
    display: flex;
    margin: 5px;
    height: 200px;
    width: 400px;
    border: 2px solid var(--white);
    color: var(--white);

}

.project:hover {
    opacity: .5;
}

.first-project {
    flex: 2 2 0;
    background-image: url(./images/first-project.jpg);
    background-size: cover;
    width: 810px;
    height: 400px;
}

.second-project {
    background-image: url(./images/second-project.jpg);
    background-size: cover;
}
.third-project {
    background-image: url(./images/third-project.jpg);
    background-size: cover;
}

.fourth-project {
    background-image: url(./images/fourth-project.jpg);
    background-size: cover;
}

.fifth-project {
    background-image: url(./images/fifth-project.jpg);
    background-size: cover;
}

aside {
    margin: 10px;
    padding: 10px;
    font-size: 300%;
    color: var(--red);
    text-align: right;
    height: 100%;
    width: 20%;
    border-right: 3px solid var(--red);
}

.main-content-contact {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 3px solid var(--red);
}

.contact-method {
    padding: 5px;
    font-size: 120%;
}

.contact-method:hover a {
    color: var(--black);
    font-size: 140%;
}

.contact-method a {
    color: var(--red);
    text-decoration: none;
}

@media screen and (max-width:900px) {
    .main-content{
        flex-direction: column;
    }
}
@media screen and (max-width:500px) {
    section {
        flex-direction: column;
    }

    aside {
        border-right: 0px;
        border-bottom: 3px solid var(--red);

    }

    .project {
    flex-direction: column;
    height:100px;
    width: 400px;
    }
    
}
